@font-face {
    font-family: 'A-Love-of-Thunder';
    src:url('fonts/A-Love-of-Thunder.ttf.woff') format('woff'),
        url('fonts/A-Love-of-Thunder.ttf.svg#A-Love-of-Thunder') format('svg'),
        url('fonts/A-Love-of-Thunder.ttf.eot'),
        url('fonts/A-Love-of-Thunder.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {        
    padding-top: 60px;
    padding-bottom: 40px;
    box-sizing: border-box;
}

h1 { 
    font-family: 'A-Love-of-Thunder', 'Arial Black', Gadget, sans-serif;
    font-size: 3.5em; 
}  

h1 + p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    color: 	#bfbfbf;
}

h3 {
    font-family: 'A-Love-of-Thunder', 'Arial Black', Gadget, sans-serif;
    font-size: 1.8em;
    padding-bottom: 8px;
}

h4 {
  padding-bottom: 2px;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: red;
}

.main-panel {
    font-family: 'IM Fell Great Primer', serif;
    line-height: 125%;
}

.main-image {
    z-index: -1;
    position: fixed;
    bottom: 0;
}

.panel-wrapper {
    position: absolute;
    right: 5%;
    top: 25%;
    bottom: 100px;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.85);
    overflow-y: auto;
}

.panel h3 {
  padding-bottom: 30px;
}
.about-panel, .video-panel, .podcasts-panel, .webcam-panel {
    display: none;
}

.webcam-panel p {
  font-family: "Courier New", Courier, monospace;
}

.show-panel {
    display: block;
    padding: 10px;
}

.fixed-header, .fixed-footer {
    position: fixed;        
    z-index: 5;
 }

.fixed-header {
    top: 0;
    right: 0;
    padding: 10px;
    text-align: right;
    background-color: rgba(255, 255, 255, 0.85);
}

.fixed-footer {
    width: 100%;
    bottom: 0;
    height: 100px;
    background: #000;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'A-Love-of-Thunder', 'Arial Black', Gadget, sans-serif;
    font-size: 1.5em;

}

.fixed-footer ul {
    list-style-type: none;
    margin: 0;
}

.fixed-footer li {
    display: inline;
    padding: 10px 10px;
}

.fixed-footer li:hover {
    text-shadow: 0 0 5px #fff;
    transform:scale(1.1);
    cursor: pointer;
}


.title {
    padding-right: 40px;
}

.video-wrapper {
  padding-bottom: 25px;
}

.podcast-logo {
  width: 75px;
  display: inline-block;
  background-color: blue;
  margin-bottom: 15px;
  vertical-align: top;
  text-align: center;
}

.podcast-logo img {
  display: block;
}

.podcast-description {
  width: 290px;
  display: inline-block;
  margin-bottom: 15px;
  vertical-align: top;
  padding-left: 10px;
  padding-bottom: 10px;
}

