.social-icons {
  position: absolute;
  right: 0;
  padding-right: 50px;
  color: rgba(255, 255, 255, 0.4);
}

.social-icons i {
  padding-left: 25px;
}

.social-icons i:hover {
    text-shadow: 0 0 5px #fff;
    transform:scale(1.1);
    cursor: pointer;
}

.social-icons a {
  text-decoration: none;
  color: inherit;
}

